        body{
            font-family:'Times New Roman', Times, serif;
            font-size:medium;
            background:linear-gradient(45deg,blue,rgb(56, 118, 184),rgb(119, 187, 210));
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 150px;
        }
        header{
            width: 750px;
        }
        .kontenti{
            border: 4px solid rgb(34, 9, 84);
            width: 500px;
            height: 560px;
            margin-top: 120px;
            border-radius: 8px;
        }
        h1{
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-size: xx-large;
        }
        p{
            display: block;
            margin-bottom: 13px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: medium;
        }
        input{
        padding: 8px;
        border-radius: 3px;
        }
        button{
        padding: 6px 15px;
        margin-top: 10px;
        border: 3px solid rgb(25, 11, 92);
        border-radius: 5px;
        }
        button:hover{
        background-color: rgb(43, 43, 226);
        }
        .login{
        border: 3px solid rgb(31, 22, 73);
        width: 150px;
        padding: 10px;
        float:right ;
        border-radius: 5px;
        }
        .account{
        color: white;
        text-decoration: none;

        }
        .disney{
            margin-left: -70px;
        }
