body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(181, 203, 242);
    }
    header{
    background: linear-gradient(45deg,rgb(105, 145, 230),rgb(29, 84, 187),rgb(26, 26, 157));
    padding: 15px;
    text-align: center;
    }
    .disney{
    width: 200px;
    margin-top: 30px;
    } 
    .img1{
    width: 150px;
    margin-right: 2000px;
    margin-top: -170px;
    align-items: center;
    } 
    .dashboard{
    font-family: 'Times New Roman', Times, serif;
    font-size:larger;
    text-decoration: none;
    padding: 15px;
    color: white;
}
.dashboard:hover{
    color: rgb(0, 0, 0);
   
}
.dashboard1{
    font-family: 'Times New Roman', Times, serif;
    font-size:larger;
    text-decoration: none;
    padding: 8px;
    color: white;
    display: block;

}
.dashboard1:hover{
    color: rgb(0, 0, 0);
}
.dashboard2{
    font-family: 'Times New Roman', Times, serif;
    font-size:larger;
    text-decoration: none;
    padding: 8px;
    color: white;
    display: block;
}
.dashboard2:hover{
    color: rgb(0, 0, 0);
}
.dashboard3{
    font-family: 'Times New Roman', Times, serif;
    font-size:larger;
    text-decoration: none;
    padding: 8px;
    color: white;
    display: block;
}
.dashboard3:hover{
    color: rgb(0, 0, 0);
}
.dashboard4{
    font-family: 'Times New Roman', Times, serif;
    font-size:larger;
    text-decoration: none;
    padding: 8px;
    color: white;
    display: block;
}
.dashboard4:hover{
    color: rgb(0, 0, 0);
}
.ul{
    list-style: none;
    display: inline-block;
}
.li{
    display: inline-block;
    margin-right: 20px;
}
.submenu{
    display: none;
    position: absolute;
    font-size: small;
    margin-top: 10px;
    background-color:rgb(86, 145, 207);
    box-shadow:0 0 10px rgb(0,0,0, 0.1);
    border:3px solid blue;
    padding: 8px;
    list-style: none;
    animation: fadeIn 2s forwards;

}
li:hover .submenu{
    display: block;
    place-items: center;
}
.submenu1{
    display: none;
    position: absolute;
    font-size: small;
    margin-top: 10px;
    background-color:rgb(86, 145, 207);
    box-shadow:0 0 10px rgb(0,0,0, 0.1);
    border: 3px solid blue;
    padding: 8px;
    list-style: none;
    animation: fadeIn 2s forwards;
}
li:hover .submenu1{
    display: block;
}
.submenu2{
    display: none;
    position: absolute;
    font-size: small;
    margin-top: 10px;
    background-color:rgb(86, 145, 207);
    box-shadow:0 0 10px rgb(0,0,0, 0.1);
    border: 3px solid blue;
    padding: 8px;
    list-style: none;
    animation: fadeIn 2s forwards;
}
li:hover .submenu2{
    display: block;
}
.submenu3{
    display: none;
    position: absolute;
    margin-top: 10px;
    width: 500px;
    font-size: small;
    background-color:rgb(86, 145, 207);
    box-shadow:0 0 10px rgb(0,0,0, 0.1);
    border: 3px solid blue;
    padding: 8px;
    list-style: none;
    animation: fadeIn 2s forwards;
}
li:hover .submenu3{
    display: block;
}
.submenu4{
    display: none;
    position: absolute;
    margin-top: 10px;
    font-size: small;
    background-color:rgb(86, 145, 207);
    box-shadow:0 0 10px rgb(0,0,0, 0.1);
    border: 3px solid blue;
    padding: 8px;
    list-style: none;
    animation: fadeIn 2s forwards;
}
li:hover .submenu4{
    display: block;
}
#section1{
    float: left;
}
.divi{
    background-color:white;
    width: 150px;
    height: 175px;
    margin: 10px;
    padding: 0px;
    display: inline-block;
    border: 2px solid black;
    text-align: center;
    animation: boxi 3s infinite alternate;
    margin-left: 45px;
    margin-top: 20px;
}
.txt{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;

}
.txt:hover{
    color:blue;
}
footer{
   background: linear-gradient(45deg,rgb(105, 145, 230),rgb(29, 84, 187),rgb(26, 26, 157)); 
   padding: 30px;
   margin-top: 30px;
}
table, th, tr{
    width: 900px;
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}
th:hover{
    color: rgb(27, 27, 89);

}
.ikonat{
    display: inline-block;
    background-color: rgb(59, 124, 204);
    margin-top: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid blue;
}
.ikonat i{
    color: black;
    margin-left: 0px;
    margin-top: 7px;
}
.developed{
    color: antiquewhite;
    text-decoration: none;
    text-align: center;
}
